.card
    position: relative
    overflow: hidden
    display: grid
    row-gap: 3px
    grid-auto-flow: row
    height: 390px

    width: 250px
    &:hover
        box-shadow: 2px 2px 8px rgba(0,0,0,.12)

    .illustration
        width: 100%
        background: #fafafa
        height: 250px
        width: 100%
        object-fit: contain

    .btn-previous
        position: absolute
        top: 30%
        left: 0
        &:hover
            transform: scale(1.1)
            transition: transform .3s ease
    .btn-next
        position: absolute
        top: 30%
        right: 0
        &:hover
            transform: scale(1.1)
            transition: transform .3s ease
    .index
        position: absolute
        top: .3em
        right: .3em
        color: $gray4
    .name,.color,.price,.btn-view-more
        padding: 0 9px
    .name
        text-transform: uppercase

    .btn-view-more
        border: 1px solid $gray9
        align-self: flex-end
        h3,h4,p
            font-weight: 400
        &:hover
            transition: background .4s ease
            background: #02081C
            h3,h4,p
                color: #7e7e56
