.page-form
    max-width: $max-width
    margin: $header-height auto 0 auto

    display: grid
    gap: 1em
    grid-template-columns: max-content 1fr min-content
    grid-template-rows: 120px min-content
    grid-template-areas: "title logo tips" "content content content"

    width: 100%

    h1
        grid-area: title
        align-self: flex-end
        margin: 0

    .certification-title
        width: min-content

    .logo
        grid-area: logo
        justify-self: flex-start
        align-self: flex-end
        margin-bottom: .6em
    .certification-logo
        align-self: flex-start
        margin-top: 2.2em

    .tips-box
        grid-area: tips
        justify-self: flex-end

    section
        grid-area: content
        width: 100%
        border: 1px solid #D0CFCF
        padding: 2em

        form
            display: flex
            flex-direction: column

            .box
                width: 100%
                display: flex
                flex-direction: column
                margin: 1em 0
                padding: 1em
                border-top: 1px solid rgba(0, 0, 0,.12 )

                label,input
                    width: 100%
                p
                    text-transform: capitalize

                &:first-child
                    border-top: 1px solid rgba(0, 0, 0,0 )

    section.cv-photo
        display: grid
        grid-template-columns: 1fr 1fr
        justify-items: center
