
.overlay
    position: fixed
    background: rgba(0,0 ,0 ,.5 )
    top: 0
    bottom: 0
    right: 0
    left: 0
    transition: background .5s ease-in

.overlay-invisible
    background: none
    display: none
.icon
    z-index: 11
    position: absolute
    top: 1em
    right: 1em

.sidebar
    position: absolute
    top: 0
    right: 0
    display: block
    width: 0
    overflow: hidden

.sidebar-open
    z-index: 10
    position: absolute
    top: 0
    right: 0

    height: 100%

    background: $white
    padding-top: 3em
    width: 250px
    box-shadow: -2px -2px 8px rgba(0, 0, 0,.4 )

    transition: width .3s ease-in
    ul
        display: grid
        gap: 1em
        grid-auto-flow: row

        padding: 2em
        li:hover
            color: blue

@media only screen and (min-width: $tabletBreakpoint)
    .icon,.overlay
        display: none

    .sidebar,.sidebar-open
        display: flex

        width: 100%
        height: $header-height

        align-items: center
        padding-top: unset
        box-shadow: unset

        ul
            display: grid
            gap: 1em
            grid-auto-flow: column

            padding: 0 2em
        li
            padding-bottom: .3em
            border-bottom: 3px solid $blue
            &:hover
                color: $blue
