.modal-overlay
  z-index: 999
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(0, 0, 0, 0.1)

.btn-close
  position: absolute
  top: 1.5em
  right: 1.5em
  &:hover
    filter: brightness(0)

.modal
  position: relative
  z-index: 1000
  position: fixed
  top: 2em
  background: $white

  left: 50%
  width: 80%
  height: 80%
  overflow: hidden

  transform: translateX( -50%)
  border-radius: 14px
  box-shadow: 6px 6px 16px rgba(0,0 ,0 ,.3 )

  display: grid
  gap: 2em
  grid-template-columns: 150px 1fr
  padding: 3em 1em
  h2
