.modal-overlay
  z-index: 999
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(0, 0, 0, 0.8)

.modal
  z-index: 1000
  position: absolute
  top: 2em

  left: 50%
  width: 1053.5px
  overflow: hidden

  transform: translateX( -50%)
  border-radius: 8px
  box-shadow: 6px 6px 16px rgba(0,0 ,0 ,.3 )
