#formAdditionalInfo

    display: grid
    gap: 1em
    grid-auto-flow: row

    .inline-box
        display: grid
        gap: 1em
        grid-template-columns: 140px 1fr 140px
        align-items: flex-start
        height: max-content

        h3
            padding-top: 1em
            color: #8B8B8B

        button h3
            padding: unset
            color: $blue

        .vertical-input
            display: grid
            position: relative

            grid-auto-flow: row
            input
                width: 100%
                margin-bottom: .3em
            .btn-remove
                position: absolute
                right: 0
                height: 100%

    .anything_else
        h3
            color: #8B8B8B
        input
            width: 100%
